html, body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-grow-1 {
  flex-grow: 1; /* Pushes the footer down */
}
body {
  padding-top: 100px; /* Adjust based on the navbar height */
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}