.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.about-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.about-content h2 {
    font-size: 36px;
    font-weight: bold;
    color: #c45f00;
}

.about-content p {
    font-size: 18px;
    color: #212529;
    text-align: justify;
}

.btn-primary {
    background-color: #c45f00;
    border: none;
}

.btn-primary:hover {
    background-color: #ff7b42;
}
@keyframes floatFade {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .floating-fade-in {
    animation: floatFade 1.5s ease-in-out;
  }
  