<div class="login-container mt-5 pt-5">
  <div class="login-form">
    <h2><i class="fa-solid fa-right-to-bracket"></i> Sign In</h2>
      <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)">
          <div class="input-group">
              <label for="username"><i class="fas fa-user"></i> Username</label>
              <input type="text" id="username" name="username" ngModel placeholder="Enter your name" required>
          </div>
          <div class="input-group">
              <label for="password"><i class="fas fa-lock"></i> Password</label>
              <input type="password" id="password" name="password" ngModel placeholder="Enter your password" required>
          </div>
          <button type="submit">Sign In</button>
           <!-- Error Message -->
           <div *ngIf="errorMessage">
            <p class="error">{{ errorMessage }}</p>
          </div>
          
      </form>
      <p class="create-account">
          Are you new? <a routerLink="/register">Create an Account</a>
      </p>
  </div>
</div>